<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Armata&display=swap" rel="stylesheet">

	</head>
		<link rel="stylesheet" type="text/css" href="bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="style.css"/>
	<body>

		<section id="nav-bar">
		<nav class="navbar navbar-expand-lg navbar-light ">
	  		<a class="navbar-brand" href="#"><img src="img/Capture3.png">Rapid Rides</a>
            <a href="#" style="text-decoration: none; font-size: 20px; color:#000; margin-left: 10px; text-align: center;">Hello User!</a>
	  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav nav pills ml-auto">
			    	<li class="nav-item ">
			        	<a class="nav-link" href="index-user.html">Home</a>
			      	</li>
			        <!--<li class="nav-item">
			        	<a class="nav-link" href="Login.html">Login</a>
			        </li>-->
			      	<li class="nav-item active">
			        	<a class="nav-link" href="Cars-user.html">Our Cars</a>
			      	</li>
			      	<li class="nav-item">
			        	<a class="nav-link " href="Enquire-user.html">Enquire</a>
			    	</li>
			    	<li class="nav-item">
			        	<a class="nav-link " href="About Us-user.html">About Us</a>
			    	</li>
			    	<li class="nav-item">
			        	<a class="nav-link " href="Contact Us-user.html">Contact Us</a>
			    	</li>
			    	<li class="nav-item">
			        	<a class="nav-link " href="Feedback-user.html">Feedback</a>
			    	</li>
                    <li class="nav-item">
                        <a class="nav-link " href="index.html">Log Out</a>
                    </li>
			  	</ul>
			</div>
		</nav>
	</section>
	<section class="ftco-section">
        &nbsp;
        &nbsp;
    	<div class="container">
            <h1 style="text-align: center; font-family: 'Montserrat', sans-serif; font-size:50px; font-weight: 600; border-bottom: 2px solid black;"> H A T C H B A C K</h1>
            &nbsp;
    		<div class="row">

    			<div class="col-md-4">
    				<a href="car-single-swift-user.html" style="text-decoration: none;"><div class="car-wrap rounded ftco-animate" style="
  -moz-transform:translateY(100);
  -webkit-transform:translateY(100);
  -ms-transform:translateY(100);
  transform: translateY(100);">
                        
    					<div class="img rounded d-flex align-items-end">
    						<img src="car_images/img1.jpg" width="350" height="150">
    					</div>
    					<div class="text">
    						<h2 class="mb-0" style="font-weight: 600; font-size: 50px; text-align: center;color:#000; text-decoration: none;">Swift</h2>
    						<div class="d-flex mb-3">
	    						<span class="cat" style="margin-left: 140px; font-size: 25px;color:#000; text-decoration: none;">Suzuki</span>
    						</div>	
    					</div>
                        <div class="overlay">
                            <div class="price" style="font-size:20px; font-family: Oswald;">Base Fare: ₹3,100<br>Hourly Fare: ₹100<br> Automatic: Base Fare + ₹600<br> Diesel: Base Fare + ₹300</div>
                        </div>
        					<button type="submit" class="btn btn-black" style="margin-left: 10px; margin-bottom: 20px;font-family: Helvetica;"><a href="car-single-swift-user.html" style="text-decoration: none;">View Details</a>
        					</button>  
    				</div></a>
    			</div>
    			<div class="col-md-4">
    				<a href="car-single-elite i20-user.html" style="text-decoration: none;"><div class="car-wrap rounded ftco-animate">
    					<div class="img rounded d-flex align-items-end">
    						<img src="car_images/img2.jpg" width="350" height="150" >
    					</div>
    					<div class="text">
    						<h2 class="mb-0" style="font-weight: 600; font-size: 50px; text-align: center; color:#000; text-decoration: none;">Elite i20</h2>
    						<div class="d-flex mb-3">
	    						<span class="cat" style="margin-left: 127px; font-size: 25px;color:#000; text-decoration: none;">Hyundai</span>
    						</div>
    					</div>
                        <div class="overlay">
                            <div class="price" style="font-size:20px; font-family: Oswald;">Base Fare: ₹3,300<br>Hourly Fare: ₹100<br> Automatic: Base Fare + ₹600<br> Diesel: Base Fare + ₹300</div>
                        </div>
    					<button type="submit" class="btn btn-black" style="margin-left: 10px; margin-bottom: 20px;font-family: Helvetica;"><a href="car-single-elite i20-user.html" style="text-decoration: none;">View Details
    					</button>
    				</div></a>
    			</div>
                <div class="col-md-4">
                    <a href="car-single-jazz-user.html" style="text-decoration: none;"><div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end">
                            <img src="car_images/img13.jpg" width="350" height="150">
                        </div>
                        <div class="text">
                            <h2 class="mb-0" style="font-weight: 600; font-size: 50px; text-align: center;color:#000; text-decoration: none;">Jazz</h2>
                            <div class="d-flex mb-3">
                                <span class="cat" style="margin-left: 135px; text-align:center;font-size: 25px;color:#000; text-decoration: none;">Honda</span>
                                <!--<p class="price ml-auto">$500 <span>/day</span></p>-->
                            </div>  
                        </div>
                        <div class="overlay">
                            <div class="price" style="font-size:20px; font-family: Oswald;">Base Fare: ₹3,200<br>Hourly Fare: ₹100<br> Automatic: Base Fare + ₹600<br> Diesel: Base Fare + ₹300</div>
                        </div>
                        <button type="submit" class="btn btn-black" style="margin-left: 10px;text-align: center; margin-bottom: 20px;font-family: Helvetica;"><a href="car-single-jazz-user.html" style="text-decoration: none;">View Details
                        </button>
                    </div></a>
                </div> 			
    		</div>
    	</div>
        &nbsp;
        &nbsp;
        <div class="container">
            <h3 style="text-align: center; font-family: 'Montserrat', sans-serif; text-decoration: none; color: #000;font-size:50px; font-weight: 600; border-bottom: 2px solid black;">S E D A N</h3>
            
            &nbsp;
            <div class="row">
                <div class="col-md-4">
                    <a href="car-single-verna-user.html" style="text-decoration: none;"><div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end">
                            <img src="car_images/img4.jpg" width="380" height="150">
                        </div>
                        <div class="text">
                            <h2 class="mb-0" style="font-weight: 600; font-size: 50px; text-align: center;color:#000; text-decoration: none;">Verna</h2>
                            <div class="d-flex mb-3">
                                <span class="cat" style="margin-left: 130px; font-size: 25px;color:#000; text-decoration: none;">Hyundai</span>
                                    <!--<p class="price ml-auto">$500 <span>/day</span></p>-->
                            </div>
                        </div>
                        <div class="overlay">
                            <div class="price" style="font-size:20px; font-family: Oswald;">Base Fare: ₹5,500<br>Hourly Fare: ₹150<br> Automatic: Base Fare + ₹600<br> Diesel: Base Fare + ₹300</div>
                        </div>
                        <button type="submit" class="btn btn-black" style="margin-left: 10px; margin-bottom: 20px;font-family: Helvetica;"><a href="car-single-verna-user.html" style="text-decoration: none;">View Details</a>
                        </button>
                    </div></a>
                </div>
                <div class="col-md-4">
                    <a href="car-single-city-user.html" style="text-decoration: none;"><div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end">
                            <img src="car_images/img3.jpg" width="350" height="150">
                        </div>
                        <div class="text">
                            <h2 class="mb-0" style="font-weight: 600; font-size: 50px; text-align: center;color:#000; text-decoration: none;">City</h2>
                            <div class="d-flex mb-3">
                                <span class="cat" style="margin-left: 137px; font-size: 25px;color:#000; text-decoration: none;">Honda</span>
                                    <!--<p class="price ml-auto">$500 <span>/day</span></p>-->
                            </div>
                        </div>
                        <div class="overlay">
                            <div class="price" style="font-size:20px; font-family: Oswald;">Base Fare: ₹5,300<br>Hourly Fare: ₹150<br> Automatic: Base Fare + ₹600<br> Diesel: Base Fare + ₹300</div>
                        </div>
                        <button type="submit" class="btn btn-black" style="margin-left: 10px; margin-bottom: 20px;font-family: Helvetica;"><a href="car-single-city-user.html" style="text-decoration: none;">View Details</a>
                        </button>
                    </div></a>
                </div>
                <div class="col-md-4">
                    <a href="car-single-ciaz-user.html" style="text-decoration: none;"><div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end">
                            <img src="car_images/img5.jpg" width="350" height="150">
                        </div>
                        <div class="text">
                            <h2 class="mb-0" style="font-weight: 600; font-size: 50px; text-align: center;color:#000; text-decoration: none;">Ciaz</h2>
                            <div class="d-flex mb-3">
                                <span class="cat" style="margin-left: 140px; font-size: 25px;color:#000; text-decoration: none;">Suzuki</span>
                                    <!--<p class="price ml-auto">$500 <span>/day</span></p>-->
                            </div>
                        </div>
                        <div class="overlay">
                            <div class="price" style="font-size:20px; font-family: Oswald;">Base Fare: ₹5,200<br>Hourly Fare: ₹150<br> Automatic: Base Fare + ₹600<br> Diesel: Base Fare + ₹300</div>
                        </div>
                        <button type="submit" class="btn btn-black" style="margin-left: 10px; margin-bottom: 20px;font-family: Helvetica;"><a href="car-single-ciaz-user.html" style="text-decoration: none;">View Details</a>
                        </button>
                    </div></a>
                </div>
            </div>
        </div>
        &nbsp;
        &nbsp;
        <div class="container">
            <h3 style="text-align: center; font-family: 'Montserrat', sans-serif; text-decoration: none; color: #000;font-size:50px; font-weight: 600; border-bottom: 2px solid black;">S U V</h3>
            
            &nbsp;
            <div class="row">
                <div class="col-md-4">
                    <a href="car-single-crysta-user.html" style="text-decoration: none;"><div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end">
                            <img src="car_images/img6.jpg" width="350" height="150">
                        </div>
                        <div class="text">
                            <h2 class="mb-0" style="font-weight: 600; font-size: 50px; text-align: center;color:#000; text-decoration: none;">Innova Crysta</h2>
                            <div class="d-flex mb-3">
                                <span class="cat" style="margin-left: 120px; font-size: 25px;color:#000; text-decoration: none;">Toyota</span>
                                    <!--<p class="price ml-auto">$500 <span>/day</span></p>-->
                            </div>
                        </div>
                        <div class="overlay">
                            <div class="price" style="font-size:20px; font-family: Oswald;">Base Fare: ₹6,500<br>Hourly Fare: ₹150<br> Automatic: Base Fare + ₹600<br> Diesel: Base Fare + ₹300</div>
                        </div>
                        <button type="submit" class="btn btn-black" style="margin-left: 10px; margin-bottom: 20px;font-family: Helvetica;"><a href="car-single-crysta-user.html" style="text-decoration: none;">View Details</a>
                        </button>
                    </div></a>
                </div>
                <div class="col-md-4">
                    <a href="car-single-seltos-user.html" style="text-decoration: none;"><div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end">
                            <img src="car_images/img12.jpg" width="350" height="150">
                        </div>
                        <div class="text">
                            <h2 class="mb-0" style="font-weight: 600; font-size: 50px; text-align: center;color:#000; text-decoration: none;">Seltos</h2>
                            <div class="d-flex mb-3">
                                <span class="cat" style="margin-left: 155px; font-size: 25px;color:#000; text-decoration: none;">Kia</span>
                                    <!--<p class="price ml-auto">$500 <span>/day</span></p>-->
                            </div>
                        </div>
                        <div class="overlay">
                            <div class="price" style="font-size:20px; font-family: Oswald;">Base Fare: ₹7,000<br>Hourly Fare: ₹150<br> Automatic: Base Fare + ₹600<br> Diesel: Base Fare + ₹300</div>
                        </div>
                        <button type="submit" class="btn btn-black" style="margin-left: 10px; margin-bottom: 20px;font-family: Helvetica;"><a href="car-single-seltos-user.html" style="text-decoration: none;">View Details</a>
                        </button>
                    </div></a>
                </div>
                <div class="col-md-4">
                    <a href="car-single-creta-user.html" style="text-decoration: none;"><div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end">
                            <img src="car_images/img8.jpg" width="370" height="150">
                        </div>
                        <div class="text">
                            <h2 class="mb-0" style="font-weight: 600; font-size: 50px; text-align: center;color:#000; text-decoration: none;">Creta</h2>
                            <div class="d-flex mb-3">
                                <span class="cat" style="margin-left: 130px; font-size: 25px;color:#000; text-decoration: none;">Hyundai</span>
                                    <!--<p class="price ml-auto">$500 <span>/day</span></p>-->
                            </div>
                        </div>
                        <div class="overlay">
                            <div class="price" style="font-size:20px; font-family: Oswald;">Base Fare: ₹6,900<br>Hourly Fare: ₹150<br> Automatic: Base Fare + ₹600<br> Diesel: Base Fare + ₹300</div>
                        </div>
                        <button type="submit" class="btn btn-black" style="margin-left: 10px; margin-bottom: 20px;font-family: Helvetica;"><a href="car-single-creta-user.html" style="text-decoration: none;">View Details</a>
                        </button>
                    </div></a>
                </div>
            </div>
        </div>
        &nbsp;
        &nbsp;
        <div class="container">
            <h3 style="text-align: center; font-family: 'Montserrat', sans-serif;text-decoration: none; color: #000;font-size:50px; font-weight: 600; border-bottom: 2px solid black;">P R E M I U M</h3>
            &nbsp;
            <div class="row">
                <div class="col-md-4">
                    <a href="car-single-x6-user.html" style="text-decoration: none;"><div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end">
                            <img src="car_images/img9.jpg" width="350" height="150">
                        </div>
                        <div class="text">
                            <h2 class="mb-0" style="font-weight: 600; font-size: 50px; text-align: center;color:#000; text-decoration: none;">X6 Sport</h2>
                            <div class="d-flex mb-3">
                                <span class="cat" style="margin-left: 140px; font-size: 25px;color:#000; text-decoration: none;">BMW</span>
                                    <!--<p class="price ml-auto">$500 <span>/day</span></p>-->
                            </div>
                        </div>
                        <div class="overlay">
                            <div class="price" style="font-size:20px; font-family: Oswald;">Base Fare: ₹12,000 <br>Hourly Fare: ₹500<br> Automatic: Base Fare + ₹1,000<br> Diesel: Base Fare + ₹500</div>
                        </div>
                        <button type="submit" class="btn btn-black" style="margin-left: 10px; margin-bottom: 20px;font-family: Helvetica;"><a href="car-single-x6-user.html" style="text-decoration: none;">View Details</a>
                        </button>
                    </div></a>
                </div>
                <div class="col-md-4">
                    <a href="car-single-evoque-user.html" style="text-decoration: none;"><div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end">
                            <img src="car_images/img11.jpg" width="350" height="150">
                        </div>
                        <div class="text">
                            <h2 class="mb-0" style="font-weight: 600; font-size: 50px; text-align: center;color:#000; text-decoration: none;">Evoque Sport</h2>
                            <div class="d-flex mb-3">
                                <span class="cat" style="margin-left: 120px; font-size: 25px;color:#000; text-decoration: none;">Land Rover</span>
                                    <!--<p class="price ml-auto">$500 <span>/day</span></p>-->
                            </div>
                        </div>
                        <div class="overlay">
                            <div class="price" style="font-size:20px; font-family: Oswald;">Base Fare: ₹11,000 <br>Hourly Fare: ₹500<br> Automatic: Base Fare + ₹1,000<br> Diesel: Base Fare + ₹500</div>
                        </div>
                        <button type="submit" class="btn btn-black" style="margin-left: 10px; margin-bottom: 20px;font-family: Helvetica;"><a href="car-single-evoque-user.html" style="text-decoration: none;">View Details</a>
                        </button>
                    </div></a>
                </div>
                <div class="col-md-4">
                    <a href="car-single-gls-user.html" style="text-decoration: none;"><div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end">
                            <img src="car_images/img10.jpg" width="350" height="150">
                        </div>
                        <div class="text">
                            <h2 class="mb-0" style="font-weight: 600; font-size: 50px; text-align: center;color:#000; text-decoration: none;">GLS</h2>
                            <div class="d-flex mb-3">
                                <span class="cat" style="margin-left: 97px; font-size: 25px;color:#000; text-decoration: none;">Mercedes Benz</span>
                                    <!--<p class="price ml-auto">$500 <span>/day</span></p>-->
                            </div>
                        </div>
                        <div class="overlay">
                            <div class="price" style="font-size:20px; font-family: Oswald;">Base Fare: ₹13,000 <br>Hourly Fare: ₹500<br> Automatic: Base Fare + ₹1,000<br> Diesel: Base Fare + ₹500</div>
                        </div>
                        <button type="submit" class="btn btn-black" style="margin-left: 10px; margin-bottom: 20px;font-family: Helvetica;"><a href="car-single-gls-user.html" style="text-decoration: none;">View Details</a>
                        </button>
                    </div></a>
                </div>
                
            </div>
        </div>
    </section>
	</body>
</html>