<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
	</head>
		<link rel="stylesheet" type="text/css" href="bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="style.css"/>
	<body>
		<section id="nav-bar">
		<nav class="navbar navbar-expand-lg navbar-light ">
	  		<a class="navbar-brand" href="#" style="font-family:Oswald;"><img src="img/Capture3.png" style="font-family:Oswald;">Rapid Rides</a>
			  <a href="#" style="text-decoration: none; font-size: 20px; color:#000; margin-left: 10px; text-align: center;">Hello User!</a>
	  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav nav pills ml-auto">
			    	<li class="nav-item ">
			        	<a class="nav-link" href="index-user.html">Home</a>
			      	</li>
			        <!--<li class="nav-item">
			        	<a class="nav-link" href="Login.html">Login</a>
			        </li>-->
			      	<li class="nav-item active">
			        	<a class="nav-link" href="Cars-user.html">Our Cars</a>
			      	</li>
			      	<li class="nav-item">
			        	<a class="nav-link " href="Enquire-user.html">Enquire</a>
			    	</li>
			    	<li class="nav-item">
			        	<a class="nav-link " href="About Us-user.html">About Us</a>
			    	</li>
			    	<li class="nav-item">
			        	<a class="nav-link " href="Contact Us-user.html">Contact Us</a>
			    	</li>
			    	<li class="nav-item">
			        	<a class="nav-link " href="Feedback-user.html">Feedback</a>
			    	</li>
                    <li class="nav-item">
                        <a class="nav-link " href="index.html">Log Out</a>
                    </li>
			  	</ul>
			</div>
		</nav>
	</section>
	<section id="login">
		<center><div class="sidenav" style="margin-left:-50px;">
         	<center><div class="login-main-text" >
            	<h2>Contact Us</h2>
            	<p>You can always reach<br> us anytime!</p>
         	</div></center>
      	</div>
		
		<section class="ftco-section" style="align-items:center;">
			<div class="container" >
				<div class="row" >
					<div class="col-md-4" style="margin-left:430px;">
						<div class="car-wrap rounded ftco-animate" style="-webkit-box-shadow: 0px 5px 52px -1px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.45);
	box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.45);">
							<div class="img rounded d-flex align-items-end">
								<img src="contact_us/img1.jpeg" width="350" height="350">
							</div>
							<div class="text">
							
								<h2 class="mb-0" style="font-weight: 600; font-size: 40px; text-align: center;color:#000; text-decoration: none; font-family:Oswald;">Aravind N P</h2>
								<div class="d-flex mb-3">
									<span class="cat" style="margin-left: 85px; font-size: 25px;color:#000; text-decoration: none; font-family:Oswald;">CB.EN.U4CSE18108</span>
								</div>
								<div class="d-flex mb-3">
									<span class="cat" style="margin-left: 95px;margin-top:-15px; font-size: 20px;color:#000; text-decoration: none; font-family:Oswald;">(+91) 75982 72065</span>
								</div>
								<br>
								<div class="d-flex mb-3">
									<span class="cat" style="margin-left: 20px; margin-top:-40px; font-size: 20px;color:#000; text-decoration: none; font-family:Oswald;">cb.en.u4cse18108@cb.students.amrita.edu</span>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-4" style="margin-left:830px; margin-top:-545px;">
						<div class="car-wrap rounded ftco-animate" style="-webkit-box-shadow: 0px 5px 52px -1px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.45);
	box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.45);" >
							<div class="img rounded d-flex align-items-end">
								<img src="contact_us/img2.jpeg" width="350" height="350">
							</div>
							<div class="text">
							
								<h2 class="mb-0" style="font-weight: 600; font-size: 40px; text-align: center;color:#000; text-decoration: none; font-family:Oswald;">Hemchudaesh M</h2>
								<div class="d-flex mb-3">
									<span class="cat" style="margin-left: 85px; font-size: 25px;color:#000; text-decoration: none; font-family:Oswald;">CB.EN.U4CSE18120</span>
								</div>
								<div class="d-flex mb-3">
									<span class="cat" style="margin-left: 95px;margin-top:-15px; font-size: 20px;color:#000; text-decoration: none; font-family:Oswald;">(+91) 73394 07622</span>
								</div>
								<br>
								<div class="d-flex mb-3">
									<span class="cat" style="margin-left: 20px; margin-top:-40px; font-size: 20px;color:#000; text-decoration: none; font-family:Oswald;">cb.en.u4cse18120@cb.students.amrita.edu</span>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4" style="margin-left:430px;">
						<div class="car-wrap rounded ftco-animate"  style="-webkit-box-shadow: 0px 5px 52px -1px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.45);
	box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.45);">
							<div class="img rounded d-flex align-items-end">
								<img src="contact_us/img3.jpg" width="350" height="350">
							</div>
							<div class="text">
							
								<h2 class="mb-0" style="font-weight: 600; font-size: 40px; text-align: center;color:#000; text-decoration: none; font-family:Oswald;">Sainath C</h2>
								<div class="d-flex mb-3">
									<span class="cat" style="margin-left: 85px; font-size: 25px;color:#000; text-decoration: none; font-family:Oswald;">CB.EN.U4CSE18146</span>
								</div>
								<div class="d-flex mb-3">
									<span class="cat" style="margin-left: 95px;margin-top:-15px; font-size: 20px;color:#000; text-decoration: none; font-family:Oswald;">(+91) 98416 98942</span>
								</div>
								<br>
								<div class="d-flex mb-3">
									<span class="cat" style="margin-left: 20px; margin-top:-40px; font-size: 20px;color:#000; text-decoration: none; font-family:Oswald;">cb.en.u4cse18146@cb.students.amrita.edu</span>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-4" style="margin-left:830px; margin-top:-545px;">
						<div class="car-wrap rounded ftco-animate" style="-webkit-box-shadow: 0px 5px 52px -1px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.45);
	box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.45);" >
							<div class="img rounded d-flex align-items-end" >
								<img src="contact_us/img4.jpeg" width="350" height="350">
							</div>
							<div class="text">
							
								<h2 class="mb-0" style="font-weight: 600; font-size: 40px; text-align: center;color:#000; text-decoration: none; font-family:Oswald;">Thukkaram S</h2>
								<div class="d-flex mb-3">
									<span class="cat" style="margin-left: 85px; font-size: 25px;color:#000; text-decoration: none; font-family:Oswald;">CB.EN.U4CSE18156</span>
								</div>
								<div class="d-flex mb-3">
									<span class="cat" style="margin-left: 95px;margin-top:-15px; font-size: 20px;color:#000; text-decoration: none; font-family:Oswald;">(+91) 90474 80051</span>
								</div>
								<br>
								<div class="d-flex mb-3">
									<span class="cat" style="margin-left: 20px; margin-top:-40px; font-size: 20px;color:#000; text-decoration: none; font-family:Oswald;">cb.en.u4cse18156@cb.students.amrita.edu</span>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!--</div>-->
			</div>	
		</section>
		
	</center>
	</section>
	<!--<div class="card-deck">
  		<div class="card">
  			<img src="..." class="card-img-top" alt="...">
    		<div class="card-body">
	    		<h5 class="card-title">N P Aravind</h5>
    			<p class="card-text">CB.EN.U4CSE18108</p>
      			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    		</div>
  		</div>
  		<div class="card">
    		<img src="..." class="card-img-top" alt="...">
    		<div class="card-body">
      			<h5 class="card-title">M Hemchudaesh</h5>
      			<p class="card-text">CB.EN.U4CSE18120</p>
      			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    		</div>
  		</div>
  		<div class="card">
    		<img src="..." class="card-img-top" alt="...">
    		<div class="card-body">
      			<h5 class="card-title">C Sainath</h5>
      			<p class="card-text">CB.EN.U4CSE18146</p>
      			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    		</div>
  		</div>
  		<div class="card">
    		<img src="..." class="card-img-top" alt="...">
    		<div class="card-body">
      			<h5 class="card-title">Thukkaram S</h5>
      			<p class="card-text">CB.EN.U4CSE18156</p>
      			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    		</div>
  		</div>
	</div>-->
	</body>
</html>